div
{
    width: auto;
    height: 100%;
    overflow: hidden;
    
}

body
{
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-family: monospace;
    background-size: cover;
    text-align: center;
}

